openapi: 3.0.0
info:
  title: Dashboard
  version: '1.0'
  license:
    name: MIT
  contact:
    name: Uau-Fi TI
    email: ti@uaufi.com
servers:
  - url: 'https://maxhotspot.uaufi.com'
    description: Sandbox
paths:
  /sessions:
    post:
      summary: Autenticar conta
      operationId: post-sessions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  color:
                    type: string
                  image:
                    type: string
                  group:
                    type: string
                  token:
                    type: string
                  menu:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        redirect:
                          type: string
                        action:
                          type: string
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                              redirect:
                                type: string
                              action:
                                type: string
                      required:
                        - title
                        - redirect
                        - action
                        - items
                required:
                  - name
                  - color
                  - image
                  - group
                  - token
                  - menu
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
  /locked/rooms:
    get:
      summary: Todos quartos bloqueados
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    room:
                      type: string
                    created_at:
                      type: string
                    hotel_id:
                      type: integer
                  required:
                    - id
                    - room
                    - created_at
                    - hotel_id
      operationId: get-locked-rooms
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar quarto bloqueado
      operationId: post-locked-rooms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  id:
                    type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                room:
                  type: string
              required:
                - room
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  '/locked/rooms/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver quarto bloqueado
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  room:
                    type: string
                required:
                  - room
      operationId: get-locked-rooms-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    put:
      summary: Atualizar quarto bloqueado
      operationId: put-locked-rooms-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  room:
                    type: string
                  created_at:
                    type: string
                required:
                  - room
                  - created_at
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                room:
                  type: string
              required:
                - room
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    delete:
      summary: Deletar quarto bloqueado
      operationId: delete-locked-rooms-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /hotels:
    get:
      summary: Todos hotéis
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    color:
                      type: string
                    atlantica_hotel_id:
                      type: integer
      operationId: get-hotels
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
    post:
      summary: Criar hotel
      operationId: post-hotels
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                atlantica_hotel_id:
                  type: integer
              required:
                - name
                - color
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  '/hotels/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver hotel
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  atlantica_hotel_id:
                    type: integer
                  image:
                    type: string
                required:
                  - id
                  - name
                  - color
      operationId: get-hotels-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
    put:
      summary: Atualizar hotel
      operationId: put-hotels-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                atlantica_hotel_id:
                  type: integer
    delete:
      summary: Deletar hotel
      operationId: delete-hotels-id
      responses:
        '200':
          description: OK
    patch:
      summary: Trocar imagem do hotel
      operationId: patch-hotels-id
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: object
              required:
                - file
components:
  schemas: {}
