openapi: 3.0.0
info:
  title: Dashboard
  version: '1.0'
  license:
    name: MIT
  contact:
    name: Uau-Fi TI
    email: ti@uaufi.com
servers:
  - url: 'https://maxhotspot.uaufi.com'
    description: Sandbox
paths:
  /sessions:
    post:
      summary: Autenticar conta
      operationId: post-sessions
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  color:
                    type: string
                  image:
                    type: string
                  group:
                    type: string
                  token:
                    type: string
                  menu:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        redirect:
                          type: string
                        action:
                          type: string
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              title:
                                type: string
                              redirect:
                                type: string
                              action:
                                type: string
                      required:
                        - title
                        - redirect
                        - action
                        - items
                required:
                  - name
                  - color
                  - image
                  - group
                  - token
                  - menu
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
  /locked/rooms:
    get:
      summary: Todos quartos bloqueados
      tags: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    room:
                      type: string
                    created_at:
                      type: string
                    hotel_id:
                      type: integer
                  required:
                    - id
                    - room
                    - created_at
                    - hotel_id
      operationId: get-locked-rooms
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar quarto bloqueado
      operationId: post-locked-rooms
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  id:
                    type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                room:
                  type: string
              required:
                - room
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  '/locked/rooms/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver quarto bloqueado
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  room:
                    type: string
                required:
                  - room
      operationId: get-locked-rooms-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    put:
      summary: Atualizar quarto bloqueado
      operationId: put-locked-rooms-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  room:
                    type: string
                  created_at:
                    type: string
                required:
                  - room
                  - created_at
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                room:
                  type: string
              required:
                - room
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    delete:
      summary: Deletar quarto bloqueado
      operationId: delete-locked-rooms-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /hotels:
    get:
      summary: Todos hotéis
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    color:
                      type: string
                    atlantica_hotel_id:
                      type: integer
      operationId: get-hotels
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
    post:
      summary: Criar hotel
      operationId: post-hotels
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                atlantica_hotel_id:
                  type: integer
              required:
                - name
                - color
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  '/hotels/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver hotel
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  color:
                    type: string
                  atlantica_hotel_id:
                    type: integer
                  image:
                    type: string
                required:
                  - id
                  - name
                  - color
      operationId: get-hotels-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
    put:
      summary: Atualizar hotel
      operationId: put-hotels-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                atlantica_hotel_id:
                  type: integer
    delete:
      summary: Deletar hotel
      operationId: delete-hotels-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          description: Bearer token
          required: true
          name: Authetication
    patch:
      summary: Trocar imagem do hotel
      operationId: patch-hotels-id
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: object
              required:
                - file
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /atlantica/hotels:
    get:
      summary: Todos atlantica hoteis
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-atlantica-hotels
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar atlantica hotel
      operationId: post-atlantica-hotels
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                external_id:
                  type: integer
              required:
                - name
                - external_id
  '/atlantica/hotels/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver atlantica hotel
      tags: []
      responses:
        '200':
          description: OK
      operationId: get-atlantica-hotels-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    put:
      summary: Atualizar atlantica hotel
      operationId: put-atlantica-hotels-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                external_id:
                  type: integer
    delete:
      summary: Deletar atlantica hotel
      operationId: delete-atlantica-hotels-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /users:
    get:
      summary: Todos usuarios
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    email:
                      type: string
                    hotel:
                      type: string
                    group:
                      type: string
                  required:
                    - name
                    - email
                    - hotel
                    - group
      operationId: get-users
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar usuário
      operationId: post-users
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                group_id:
                  type: integer
                hotel_id:
                  type: integer
                password:
                  type: string
              required:
                - name
                - email
                - group_id
                - hotel_id
                - password
  '/users/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver usuário
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  email:
                    type: string
                  hotel_id:
                    type: integer
                  group_id:
                    type: integer
      operationId: get-users-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    put:
      summary: Atualizar usuario
      operationId: put-users-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                group_id:
                  type: integer
                hotel_id:
                  type: integer
                password:
                  type: string
    delete:
      summary: Deletar usuario
      operationId: delete-users-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /hotspots:
    get:
      summary: Todos hotspots
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    bg_color:
                      type: string
                    detail_color:
                      type: string
                    ask_phone:
                      type: string
                    redirect_url:
                      type: string
                    external_id:
                      type: integer
                    hotel_id:
                      type: integer
                  required:
                    - bg_color
                    - detail_color
                    - ask_phone
                    - redirect_url
                    - external_id
      operationId: get-hotspots
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar hotspot
      operationId: post-hotspots
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bg_color:
                  type: string
                detail_color:
                  type: string
                external_id:
                  type: integer
                redirect_url:
                  type: string
                ask_phone:
                  type: boolean
                hotel_id:
                  type: integer
  '/hotspots/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver hotspot
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_id:
                    type: integer
                  bg_color:
                    type: string
                  detail_color:
                    type: string
                  redirect_url:
                    type: string
                  color_logo:
                    type: string
                  ask_phone:
                    type: boolean
                  hotel_id:
                    type: integer
                required:
                  - external_id
                  - bg_color
                  - detail_color
                  - redirect_url
                  - ask_phone
      operationId: get-hotspots-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
    put:
      summary: Atualizar hotspot
      operationId: put-hotspots-id
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                bg_color:
                  type: string
                detail_color:
                  type: string
                ask_phone:
                  type: boolean
                redirect_url:
                  type: string
                external_id:
                  type: integer
                hotel_id:
                  type: integer
        description: ''
    delete:
      summary: Deletar hotspot
      operationId: delete-hotspots-id
      responses:
        '200':
          description: OK
  '/hotspots/{hotspot_id}/file/type/{hotspot_file_type_id}':
    parameters:
      - schema:
          type: string
        name: hotspot_id
        in: path
        required: true
      - schema:
          type: string
        name: hotspot_file_type_id
        in: path
        required: true
    patch:
      summary: Trocar imagem do hotspot
      operationId: patch-hotspots-hotspot_id-file-type-hotspot_file_type_id
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: object
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      description: |-
        hotspot_file_type_id: 1 (imagem colorido)
        hotspot_file_type_id: 2 (imagem branca)
        hotspot_file_type_id > 2 (não existe)
  /events:
    parameters: []
    get:
      summary: Todos eventos
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    voucher:
                      type: string
                    active:
                      type: string
                    starts_at:
                      type: string
                    end_at:
                      type: string
      operationId: get-events-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar evento
      operationId: post-events
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          required: true
          description: Bearer token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: DATE
                start_date:
                  type: string
                  description: |
                    HH:MM:SS
                start_time:
                  type: string
                  description: DATE
                end_date:
                  type: string
                  description: 'HH:MM:SS'
                end_time:
                  type: string
                active:
                  type: boolean
                plan_id:
                  type: integer
              required:
                - name
                - start_date
                - start_time
                - end_date
                - end_time
  '/events/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver evento
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  voucher:
                    type: string
                  start_date:
                    type: string
                  start_time:
                    type: string
                  end_date:
                    type: string
                  end_time:
                    type: string
                  active:
                    type: boolean
      operationId: get-events-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    put:
      summary: ''
      operationId: put-events-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                start_date:
                  type: string
                start_time:
                  type: string
                end_date:
                  type: string
                end_time:
                  type: string
                plan_id:
                  type: integer
                active:
                  type: boolean
  /groups:
    get:
      summary: Todos grupos
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: integer
                    key:
                      type: integer
      operationId: get-groups
  /connected/clients:
    get:
      summary: Todos clientes conectados
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    foreign:
                      type: boolean
                    mac:
                      type: string
                    plan:
                      type: string
                    online_until:
                      type: string
                    hotel:
                      type: string
                    online:
                      type: boolean
      operationId: get-connected-clients
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  '/connected/clients/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    delete:
      summary: Desconectar cliente
      operationId: delete-connected-clients-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /events/plans:
    get:
      summary: Todos planos de evento
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: get-events-plans
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /plans:
    get:
      summary: Todos os planos
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    type:
                      type: string
                    id:
                      type: integer
                    hotspot:
                      type: integer
                    hotel:
                      type: string
      operationId: get-plans
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    post:
      summary: Criar plano
      operationId: post-plans
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                hotspot_id:
                  type: integer
                speed_download:
                  type: integer
                speed_upload:
                  type: integer
                duration:
                  type: integer
                unit_time:
                  type: string
                plan_type_id:
                  type: integer
                active:
                  type: boolean
              required:
                - name
                - hotspot_id
                - speed_download
                - speed_upload
                - duration
                - unit_time
                - plan_type_id
                - active
  '/plans/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Ver plano
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  hotspot_id:
                    type: integer
                  speed_download:
                    type: integer
                  speed_upload:
                    type: integer
                  duration:
                    type: integer
                  unit_time:
                    type: string
                  plan_type_id:
                    type: integer
                  active:
                    type: boolean
      operationId: get-plans-id
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
    put:
      summary: ''
      operationId: put-plans-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                name:
                  type: string
                speed_download:
                  type: integer
                speed_upload:
                  type: integer
                duration:
                  type: integer
                unit_time:
                  type: string
                plan_type_id:
                  type: integer
                active:
                  type: boolean
                hotspot_id:
                  type: integer
    delete:
      summary: Deletar plano
      operationId: delete-plans-id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
  /plans/types:
    get:
      summary: Todos tipos de plano
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    key:
                      type: string
                  required:
                    - id
                    - name
                    - key
      operationId: get-plans-types
      parameters:
        - schema:
            type: string
          in: header
          name: Authentication
          description: Bearer token
          required: true
components:
  schemas: {}
